body{
  background-color:#232323;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: max-content auto max-content;
  text-align: center;
  color: white;
  background-image: url(stone1.jpg);
}
h1{
  font-family: fantasy;
}
.gallery{
  /* background-color:#232323; */
 display: flex;
 flex-flow: row wrap;
 align-items: center;
 justify-content: center;

}

img{
 width:175px;
 height:175px;
}

.caption{
  width: 200px;
  text-align: center;
  /* 210 width */
}

h1{
  text-align: center;
}

h2{
  width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

div.image-data{
  margin-top: 100px;
}


/*Hamburger menu*/
#menuToggle
{
  display: block;
  position: relative;
  top: 30px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  text-align: right;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: darkblue;
}


#menuToggle input /*menu button*/
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
/*lines in menu button*/
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/* Hide the middle one*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li /*content*/
{
  padding: 10px 0;
  font-size: 20px;
}
/*slide form left*/
#menuToggle input:checked ~ ul
{
  transform: none;
}
